#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: rgb(206, 201, 201);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

section{
  border: 4px dotted #421722aa;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.winMessage{
  color: rgb(9, 209, 52);
  font-size: 4em;
}

p{
  font-size: 1em;
}

.gameTitle{
  font-size: 4em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ff1717;
  text-decoration-line: overline underline;
  text-decoration-color: rgb(128, 0, 49);
}